
U3.SSIS/U3M1ImportExportWizard/U3M1ImportExportWizard.sln
U3.SSIS/U3M1ImportExportWizard/.vs/U3M1ImportExportWizard/v16/.suo
U3.SSIS/U3M1ImportExportWizard/.vs/U3M1ImportExportWizard/v16/.suo
U3.SSIS/U3M1ImportExportWizard/.vs/U3M1ImportExportWizard/v16/.suo
U3.SSIS/U3M1ImportExportWizard/bin/Development/U3M1ImportExportWizard.ispac
*.dtproj
U3.SSIS/U3M2DevelopingIntegrationServicesSolutions/.vs/U3M2DevelopingIntegrationServicesSolutions/v16/.suo
*.ispac
*.xml
U3.SSIS/U3M2DevelopingIntegrationServicesSolutions/obj/Development/Package.dtsx
U3.SSIS/U3M2DevelopingIntegrationServicesSolutions/obj/Development/Package1.dtsx
U3.SSIS/U3M1ImportExportWizard/.vs/U3M1ImportExportWizard/v16/.suo
U3.SSIS/U3M2DevelopingIntegrationServicesSolutions/obj/Development/PackageRowCount.dtsx
U3.SSIS/U3M2DevelopingIntegrationServicesSolutions/obj/Development/Project.params
U3.SSIS/U3M2DevelopingIntegrationServicesSolutions/Project.params
*.database
*.user
U3.SSIS/U3M2DevelopingIntegrationServicesSolutions/U3M2DevelopingIntegrationServicesSolutions.sln
U3.SSIS/U3M1ImportExportWizard/.vs/U3M1ImportExportWizard/v16/.suo
U3.SSIS/U3M1ImportExportWizard/.vs/U3M1ImportExportWizard/v16/.suo
